.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6em;
}

.form-control input {
  padding: 0.7em;
  border-radius: 0;
  border: none;
}

.form-control input::placeholder {
  color: #7b7b7b;
}
